<!doctype html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8">
    <title>Conta Bancaria</title>
  </head>
  <body>
    <h1>Gerenciar contas:</h1>
    	<form method="post">
    		Nome: <input type="text" value="" name="nome">
    		Email: <input type="text" value="" name="email">
    		CPF: <input type="text" value="" name="cpf">
    		Data de Nascimento: <input type="date" value="" name="data_nasc">
    		
    		<button type="submit">Salvar</button>
    	</form>
  </body>
</html>